In [1]:

#metode mix max scalling
import pandas as pd

def normalisasi_kolom(df, kolom):
    # Fungsi closure untuk normalisasi
    def normalisasi(x):
        return (x - min_val) / (max_val - min_val)

    # Mendapatkan nilai minimum dan maksimum kolom
    min_val = df[kolom].min()
    max_val = df[kolom].max()

    # Menggunakan fungsi closure untuk menerapkan normalisasi pada kolom DataFrame
    df[kolom] = df[kolom].apply(normalisasi)

# Contoh DataFrame
data = {
    "Nama" : ["Atira Nabila", "Sawitri", "Meliana Sabet Tambunan", "Desi Novria Siregar", "Handayani Simanjuntak", "Mardiana Pasaribu", "Yamolala Hulu", "David Ridwan Hakim", "Misael Oktavianda Harefa", "Muhammad Ali"],
    "Pekerjaan Orang Tua": [1, 2, 1, 1, 2, 1, 3, 2, 1, 1],
    "Status Kepemilikan Rumah": [1, 1, 2, 2, 2, 1, 2, 1, 2, 2],
    "Penghasilan Orang Tua": [2500000, 1800000, 2000000, 1800000, 2500000, 1800000, 5000000, 3000000, 1400000, 2000000]
}
df = pd.DataFrame(data)

# Normalisasi kolom "Pekerjaan Orang Tua"
normalisasi_kolom(df, "Pekerjaan Orang Tua")

# Normalisasi kolom "Status Kepemilikan Rumah"
normalisasi_kolom(df, "Status Kepemilikan Rumah")

# Normalisasi kolom "Penghasilan Orang Tua"
normalisasi_kolom(df, "Penghasilan Orang Tua")

print(df)

                       Nama  Pekerjaan Orang Tua  Status Kepemilikan Rumah  \
0              Atira Nabila                  0.0                       0.0
1                   Sawitri                  0.5                       0.0
2    Meliana Sabet Tambunan                  0.0                       1.0
3       Desi Novria Siregar                  0.0                       1.0
4     Handayani Simanjuntak                  0.5                       1.0
5         Mardiana Pasaribu                  0.0                       0.0
6             Yamolala Hulu                  1.0                       1.0
7        David Ridwan Hakim                  0.5                       0.0
8  Misael Oktavianda Harefa                  0.0                       1.0
9              Muhammad Ali                  0.0                       1.0

   Penghasilan Orang Tua
0               0.305556
1               0.111111
2               0.166667
3               0.111111
4               0.305556
5               0.111111
6               1.000000
7               0.444444
8               0.000000
9               0.166667